/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
 .recipe-image {
	background: #f1f1f1;
	float: right;
	width: 50%;
	min-height: 100px;
	text-align: center;
}

 .recipe-image button {
	margin-top: 30px;
}

 .recipe-image button.image-button {
	margin: 0;
	padding: 0;
	display: block;
}

 .recipe-image img {
	display: block;
	z-index: 1;
	position: relative;
}

 h2 {
	font-size: 1.5em;
}

 ul {
	padding-left: 2.5em !important; /* Needs fix in Gutenberg. */
}

.wp-block-gutenberg-examples-example-05-recipe-card-esnext:after { 
	content:""; 
	clear:both; 
	display: table; 
}

.swiper-slide{
	margin: 1em 0;
    text-align: center;
}

.slider-nav img {
    width: 29vw;
    height: 18vw;
    object-fit: contain;
}

